{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>AYCi</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'unify/assets/img/icons/ayci.png' %}" />

  <link rel="stylesheet" href="{% static 'unify/assets/vendor/bootstrap/bootstrap.min.css' %}" />

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="{% static 'unify/assets/vendor/icon-awesome/css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'unify/assets/vendor/icon-line/css/simple-line-icons.css' %}" />
  <link rel="stylesheet" href="{% static 'unify/assets/vendor/icon-line-pro/style.css' %}" />
  <link rel="stylesheet" href="{% static 'unify/assets/vendor/icon-hs/style.css' %}" />
  <link rel="stylesheet" href="{% static 'unify/assets/vendor/animate.css' %}" />
  <link rel="stylesheet" href="{% static 'unify/assets/vendor/hs-megamenu/src/hs.megamenu.css' %}" />
  <link rel="stylesheet" href="{% static 'unify/assets/vendor/hamburgers/hamburgers.min.css' %}" />
  <link rel="stylesheet" href="{% static 'unify/assets/vendor/chosen/chosen.css' %}" />
  <link rel="stylesheet" href="{% static 'unify/assets/vendor/slick-carousel/slick/slick.css' %}" />
  <link rel="stylesheet" href="{% static 'unify/assets/vendor/fancybox/jquery.fancybox.min.css' %}" />

  <!-- CSS Unify Theme -->
  <link rel="stylesheet" href="{% static 'unify/assets/assets/css/styles.multipage-real-estate.css' %}" />

  <!-- CSS Customization -->
  <link rel="stylesheet" href="{% static 'unify/assets/css/custom.css' %}" />

  <link rel="stylesheet" href="{% static 'unify/assets/vendor/bootstrap/bootstrap.min.css' %}" />
  <!-- CSS Global Icons -->
  <link rel="stylesheet" href="{% static 'unify/assets/vendor/icon-awesome/css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'unify/assets/vendor/icon-line/css/simple-line-icons.css' %}" />
  <link rel="stylesheet" href="{% static 'unify/assets/vendor/icon-etlinefont/style.css' %}" />
  <link rel="stylesheet" href="{% static 'unify/assets/vendor/icon-line-pro/style.css' %}" />
  <link rel="stylesheet" href="{% static 'unify/assets/vendor/icon-hs/style.css' %}" />
  <link rel="stylesheet" href="{% static 'unify/assets/vendor/slick-carousel/slick/slick.css' %}" />
  <link rel="stylesheet" href="{% static 'unify/assets/vendor/plyr/dist/plyr.css' %}" />
  <link rel="stylesheet" href="{% static 'unify/assets/vendor/hs-megamenu/src/hs.megamenu.css' %}" />
  <link rel="stylesheet" href="{% static 'unify/assets/vendor/hamburgers/hamburgers.min.css' %}" />
  <link rel="stylesheet" href="{% static 'unify/assets/vendor/animate.css' %}" />

  <!-- CSS Unify -->
  <link rel="stylesheet" href="{% static 'unify/assets/css/unify-core.css' %}" />
  <link rel="stylesheet" href="{% static 'unify/assets/css/unify-components.css' %}" />
  <link rel="stylesheet" href="{% static 'unify/assets/css/unify-globals.css' %}" />

  <!-- CSS Customization -->
  <link rel="stylesheet" href="{% static 'unify/assets/css/custom.css' %}" />
  <style>
    .wrapper {
      display: flex;
      justify-content: space-between;
    }

    .main,
    .sidebar {
      border: 3px solid black;
      padding: 15px;
      background-color: #fff;
    }

    .main {
      width: 60%;
      height: 150vh;
    }

    .sidebar {
      width: 25%;
      height: 25vh;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    }
  </style>
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KC9V5JJ" height="0" width="0"
      style="display: none; visibility: hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- Content -->
  <main>{% block content %} {% endblock %}</main>

  {% include 'pages/partials/_footer_bar.html'%}

  <!-- JS Global Compulsory -->
  <script src="{% static 'unify/assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'unify/assets/vendor/jquery-migrate/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'unify/assets/vendor/popper.js/popper.min.js' %}"></script>
  <script src="{% static 'unify/assets/vendor/bootstrap/bootstrap.min.js' %}"></script>

  <!-- JS Implementing Plugins -->
  <script src="{% static 'unify/assets/vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
  <script src="{% static 'unify/assets/vendor/jquery-ui/ui/widget.js' %}"></script>
  <script src="{% static 'unify/assets/vendor/jquery-ui/ui/widgets/menu.js' %}"></script>
  <script src="{% static 'unify/assets/vendor/jquery-ui/ui/widgets/mouse.js' %}"></script>
  <script src="{% static 'unify/assets/vendor/jquery-ui/ui/widgets/slider.js' %}"></script>
  <script src="{% static 'unify/assets/vendor/chosen/chosen.jquery.js' %}"></script>
  <script src="{% static 'unify/assets/vendor/slick-carousel/slick/slick.js' %}"></script>
  <script src="{% static 'unify/assets/vendor/fancybox/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'unify/assets/vendor/appear.js' %}"></script>
  <script src="{% static 'unify/assets/vendor/plyr/dist/plyr.js' %}"></script>
  <script src="{% static 'unify/assets/vendor/masonry/dist/masonry.pkgd.min.js' %}"></script>
  <script src="{% static 'unify/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>

  <!-- JS Unify -->
  <script src="{% static 'unify/assets/js/hs.core.js' %}"></script>
  <script src="{% static 'unify/assets/js/components/hs.header.js' %}"></script>
  <script src="{% static 'unify/assets/js/helpers/hs.hamburgers.js' %}"></script>
  <script src="{% static 'unify/assets/js/components/hs.dropdown.js' %}"></script>
  <script src="{% static 'unify/assets/js/components/hs.slider.js' %}"></script>
  <script src="{% static 'unify/assets/js/components/hs.select.js' %}"></script>
  <script src="{% static 'unify/assets/js/components/hs.carousel.js' %}"></script>
  <script src="{% static 'unify/assets/js/components/hs.popup.js' %}"></script>
  <script src="{% static 'unify/assets/js/components/hs.go-to.js' %}"></script>
  <script src="{% static 'unify/assets/js/components/hs.onscroll-animation.js' %}"></script>
  <script src="{% static 'unify/assets/js/components/hs.video-audio.js' %}"></script>

  <!-- JS Implementing Plugins -->

  <!-- JS Unify -->

  <!-- JS Plugins Init. -->
  <script>
    $(document).ready(function () {
      // initialization of carousel
      $.HSCore.components.HSCarousel.init(".js-carousel");

      // initialization of masonry
      $(".masonry-grid")
        .imagesLoaded()
        .then(function () {
          $(".masonry-grid").masonry({
            columnWidth: ".masonry-grid-sizer",
            itemSelector: ".masonry-grid-item",
            percentPosition: true,
          });
        });

      // initialization of scroll animation
      $.HSCore.components.HSOnScrollAnimation.init("[data-animation]");

      // initialization of custom video
      $.HSCore.components.HSVideoAudio.init(".js-video-audio");
    });

    $(window).on("load", function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($("#js-header"));
      $.HSCore.helpers.HSHamburgers.init(".hamburger");

      // initialization of HSMegaMenu component
      $(".js-mega-menu").HSMegaMenu({
        event: "hover",
        pageContainer: $(".container"),
        breakpoint: 991,
      });
    });
  </script>
  <!-- JS Customization -->
  <script src="{% static 'unify/assets/js/custom.js' %}"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on("ready", function () {
      // initialization of header
      $.HSCore.components.HSHeader.init($("#js-header"));
      $.HSCore.helpers.HSHamburgers.init(".hamburger");

      // initialization of HSMegaMenu component
      $(".js-mega-menu").HSMegaMenu({
        event: "hover",
        pageContainer: $(".container"),
        breakpoint: 991,
      });

      // initialization of HSDropdown component
      $.HSCore.components.HSDropdown.init($("[data-dropdown-target]"), {
        afterOpen: function () {
          $(this).find('input[type="search"]').focus();
        },
      });

      // initialization of range slider
      $.HSCore.components.HSSlider.init("#rangeSlider1");

      // initialization of custom select
      $.HSCore.components.HSSelect.init(".js-custom-select");

      // initialization of carousel
      $.HSCore.components.HSCarousel.init('[class*="js-carousel"]');

      // initialization of popups
      $.HSCore.components.HSPopup.init(".js-fancybox");

      // initialization of go to
      $.HSCore.components.HSGoTo.init(".js-go-to");
    });
  </script>

</body>

</html>