{% extends 'pages/base.html' %} {% load static %} {% block content %}
<!-- Header -->
<header
  id="js-header"
  class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance"
  data-header-fix-moment="600"
  data-header-fix-effect="slide"
>
  <div
    class="u-header__section g-transition-0_5"
    data-header-fix-moment-exclude="g-mt-0"
    data-header-fix-moment-classes="g-mt-minus-73 g-mt-minus-76--md"
  >
    {% include 'pages/partials/_top_bar.html'%}
  </div>
  {% include 'pages/partials/_nav_bar.html'%}
</header>
<!-- End Header -->
<!-- Contacts -->
<div class="container g-py-100">
  <header class="text-center g-mb-50">
    <h1 class="h2">Contact Us</h1>
    <p class="lead">Got a question? We'd love to hear from you!</p>
  </header>

  <div class="row text-center g-mb-50">
    <div class="col-sm-6 col-md-4 g-mb-30">
      <!-- Icon Blocks -->
      <span class="g-font-size-40 g-color-primary mb-3">
        <i class="icon-real-estate-027 u-line-icon-pro"></i>
      </span>
      <h4 class="h5 g-font-weight-600 g-mb-5">Address</h4>
      <span class="d-block"> Mathe str., Gweru, 3DG</span>
      <!-- End Icon Blocks -->
    </div>

    <div class="col-sm-6 col-md-4 g-mb-30">
      <!-- Icon Blocks -->
      <span class="g-font-size-40 g-color-primary mb-3">
        <i class="icon-communication-062 u-line-icon-pro"></i>
      </span>
      <h4 class="h5 g-font-weight-600 g-mb-5">Phone Number</h4>
      <span class="d-block">+263 777 757 603</span>
      <!-- End Icon Blocks -->
    </div>

    <div class="col-sm-6 col-md-4 g-mb-30">
      <!-- Icon Blocks -->
      <span class="g-font-size-40 g-color-primary mb-3">
        <i class="icon-electronics-005 u-line-icon-pro"></i>
      </span>
      <h4 class="h5 g-font-weight-600 g-mb-5">Email</h4>
      <span class="d-block">info@ayci.com</span>
      <!-- End Icon Blocks -->
    </div>
  </div>

  <div class="text-center mx-auto g-width-70x--md">
    <form>
      <div class="row">
        <div class="col-md-6 form-group g-mb-30">
          <input
            class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--focus rounded-0 g-py-13 g-px-15"
            type="text"
            placeholder="Your name"
          />
        </div>

        <div class="col-md-6 form-group g-mb-30">
          <input
            class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--focus rounded-0 g-py-13 g-px-15"
            type="tel"
            placeholder="Your phone"
          />
        </div>

        <div class="col-md-12 form-group g-mb-30">
          <input
            class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--focus rounded-0 g-py-13 g-px-15"
            type="text"
            placeholder="Subject"
          />
        </div>

        <div class="col-md-12 form-group g-mb-30">
          <textarea
            class="form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--focus g-resize-none rounded-0 g-py-13 g-px-15"
            rows="7"
            placeholder="Message"
          ></textarea>
        </div>
      </div>

      <div class="text-center">
        <button
          class="btn u-btn-primary text-uppercase rounded-0 g-px-25 g-py-13"
          type="submit"
          role="button"
        >
          Send Message
        </button>
      </div>
    </form>
  </div>
</div>
<!-- End Contacts -->
{% endblock %}
