{% extends 'pages/base.html' %}
<p>{% block content %}</p>
<!-- Header -->
<header
  id="js-header"
  class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance"
  data-header-fix-moment="600"
  data-header-fix-effect="slide"
>
  <div
    class="u-header__section g-transition-0_5"
    data-header-fix-moment-exclude="g-mt-0"
    data-header-fix-moment-classes="g-mt-minus-73 g-mt-minus-76--md"
  >
    {% include 'pages/partials/_top_bar.html'%}
  </div>
  {% include 'pages/partials/_nav_bar.html'%}
</header>
<!-- End Header -->
<p>{% include 'pages/partials/banner.html'%}</p>

{% include 'pages/partials/_about.html'%}
<p></p>
<p>{% include 'pages/partials/home.html'%}</p>
{% endblock %}
