{% load static %}
<!-- Banner -->
<section class="banner bgwhite p-t-40 p-b-40">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
                <!-- block1 -->
                <div class="block1 hov-img-zoom pos-relative m-b-30">
                    <img src="{% static 'fashe/images/malin/4.jpg' %}" alt="IMG-BENNER">

                    <div style="width: fit-content;" class="block1-wrapbtn w-size3">

                        <a style="  background-color: rgba(255, 255, 255, 0.3);
                    border-radius: 5px;
                    font-family: sans-serif;
                    text-align: center;
                    line-height: 1; 
                   -webkit-backdrop-filter: blur(10px);
                    backdrop-filter: blur(10px);  
                   
                    padding: 20px 40px;
                    font-size:1.5em;
                    color: rgb(19, 9, 9);" href="{% url 'pages:view_cat_products' 3 %}"
                            class="flex-c-m  bg4 hov1 trans-0-4">Senator Wear</a>
                    </div>
                </div>

                <!-- block1 -->
                <div class="block1 hov-img-zoom pos-relative m-b-30">
                    <img style="height: 220pt; width: 280pt"
                        src="{% static 'fashe/images/malin/accessories/home-fragrances.jpg' %}" alt="IMG-BENNER">

                    <div class="block1-wrapbtn w-size2">
                        <!-- Button -->
                        <a style="  background-color: rgba(255, 255, 255, 0.3);
                        border-radius: 5px;
                        font-family: sans-serif;
                        text-align: center;
                        line-height: 1; 
                       -webkit-backdrop-filter: blur(10px);
                        backdrop-filter: blur(10px);  
                       
                        padding: 20px 40px;
                        font-size:1.5em;
                        color: rgb(19, 9, 9);" href="{% url 'pages:view_cat_products' 7 %}"
                            class="flex-c-m  bg4 hov1 trans-0-4">Home Fragrances</a>

                    </div>
                </div>
            </div>


            <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
                <!-- block1 -->
                <div class="block1 hov-img-zoom pos-relative m-b-30">
                    <img src="{% static 'fashe/images/malin/ankara t.png' %}" alt="IMG-BENNER">

                    <div class="block1-wrapbtn w-size2">
                        <!-- Button -->
                        <a style="  background-color: rgba(255, 255, 255, 0.3);
                        border-radius: 5px;
                        font-family: sans-serif;
                        text-align: center;
                        line-height: 1; 
                       -webkit-backdrop-filter: blur(10px);
                        backdrop-filter: blur(10px);  
                       
                        padding: 20px 40px;
                        font-size:1.5em;
                        color: rgb(19, 9, 9);" href="{% url 'pages:view_cat_products' 4 %}"
                            class="flex-c-m  bg4 hov1 trans-0-4">
                            Ankara T-Shirts
                        </a>
                    </div>
                </div>

                <!-- block1 -->
                <div class="block1 hov-img-zoom pos-relative m-b-30">
                    <img src="{% static 'fashe/images/malin/KINGIE PERFUM.png' %}" alt="IMG-BENNER">

                    <div class="block1-wrapbtn w-size2">
                        <!-- Button -->
                        <a style="  background-color: rgba(255, 255, 255, 0.3);
                        border-radius: 5px;
                        font-family: sans-serif;
                        text-align: center;
                        line-height: 1; 
                       -webkit-backdrop-filter: blur(10px);
                        backdrop-filter: blur(10px);  
                       
                        padding: 20px 40px;
                        font-size:1.5em;
                        color: rgb(19, 9, 9);" href="{% url 'pages:view_cat_products' 1 %}"
                            class="flex-c-m  bg4 hov1 trans-0-4">
                            Adinkra Perfum
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-md-8 col-lg-4 m-l-r-auto">
                <!-- block1 -->
                <div class="block1 hov-img-zoom pos-relative m-b-30">
                    <img style="height: 250pt; width: 280pt"
                        src="{% static 'fashe/images/malin/accessories/IMG_3246.JPG' %}" alt="IMG-BENNER">

                    <div class="block1-wrapbtn w-size2">
                        <!-- Button -->
                        <a style="  background-color: rgba(255, 255, 255, 0.3);
                        border-radius: 5px;
                        font-family: sans-serif;
                        text-align: center;
                        line-height: 1; 
                       -webkit-backdrop-filter: blur(10px);
                        backdrop-filter: blur(10px);  
                       
                        padding: 20px 40px;
                        font-size:1.5em;
                        color: rgb(19, 9, 9);" href="{% url 'pages:view_cat_products' 6 %}"
                            class="flex-c-m  bg4 hov1 trans-0-4">Ankara Accessories</a>

                    </div>
                </div>

                <!-- block2 -->
                <div class="block2 wrap-pic-w pos-relative m-b-30">
                    <img src="{% static 'fashe/images/icons/bg-01.j' %}pg" alt="IMG">

                    <div class="block2-content sizefull ab-t-l flex-col-c-m">
                        <h4 class="m-text4 t-center w-size3 p-b-8">
                            Sign up & get 20% off
                        </h4>

                        <p class="t-center w-size4">
                            Be the frist to know about the latest fashion news and get exclu-sive offers
                        </p>

                        <div class="w-size2 p-t-25">
                            <!-- Button -->
                            <a href="#" style="background-color: rgb(46, 5, 5);"
                                class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
                                Sign Up
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>