<!-- Slide1 -->
<section class="slide1">
    <div class="wrap-slick1">
        <div class="slick1">
            {% if object_list %}
            {% for cat in object_list %}
            {% if cat.image %}
            <div class="item-slick1 item1-slick1" style="background-image: url({{cat.image.url}});
              background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;">
                <div class="wrap-content-slide1 sizefull flex-col-c-m p-l-15 p-r-15 p-t-150 p-b-170">
                    <span class="caption1-slide1 m-text1 t-center animated visible-false m-b-15"
                        data-appear="fadeInDown">

                    </span>

                    <h2 style="  background-color: rgba(255, 255, 255, 0.3);
                    border-radius: 5px;
                    font-family: sans-serif;
                    text-align: center;
                    line-height: 1; 
                   -webkit-backdrop-filter: blur(10px);
                    backdrop-filter: blur(10px);  
                    padding: 20px 40px;" class="caption2-slide1 xl-text1 t-center animated visible-false m-b-37"
                        data-appear="fadeInUp">
                        {{cat.short_name}}
                    </h2>


                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}

        </div>
    </div>
</section>