{% load static %}
<!-- Header -->
<header class="header1">
    <!-- Header desktop -->
    <div class="container-menu-header">
        <div class="topbar">
            <div class="topbar-social">
                <a href="#" class="topbar-social-item fa fa-facebook"></a>
                <a href="#" class="topbar-social-item fa fa-instagram"></a>
                <a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
                <a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
                <a href="#" class="topbar-social-item fa fa-youtube-play"></a>
            </div>

            <span style="color: maroon;" class="topbar-child1">
                Free delivery in Zimbabwe for standard order over $50
            </span>

            <div class="topbar-child2">



            </div>
        </div>

        <div style="opacity:10; background-color:goldenrod" class="wrap_header">
            <!-- Logo -->
            <a href="{% url 'pages:index' %}">
                <img style="height: 70px;
                  display: block;
  position: absolute;
  left: -30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);" src="{% static 'fashe/images/icons/website logo.png' %}" alt="IMG-LOGO">
            </a>

            <span style="background-color: maroon;" class="linedivide1"></span>

            {% include 'pages/fashe/partials/header_menu.html'%}
            {% include 'pages/fashe/partials/header_cart.html'%}
        </div>
    </div>


    {% include 'pages/fashe/partials/mobile_header.html'%}

</header>