<!-- Menu -->
<div class="wrap_menu">
    <nav class="menu">
        <ul class="main_menu">
            <li>
                <a href="{% url 'pages:index' %}">Just In</a>
            </li>

            <li>
                <a href="{% url 'pages:index' %}">Shop</a>
            </li>

            <li class="sale-noti">
                <a href="{% url 'pages:index' %}">Sale</a>
            </li>

            <li>
                <a href="{% url 'pages:index' %}">Features</a>
            </li>

            <li>
                <a href="{% url 'pages:index' %}">Blog</a>
            </li>

            <li>
                <a href="{% url 'pages:index' %}">About</a>
            </li>

            <li>
                <a href="{% url 'pages:index' %}">Contact</a>
            </li>
        </ul>
    </nav>
</div>