{% load static %}
<!-- Header Mobile -->
<div class="wrap_header_mobile">
    <!-- Logo moblie -->
    {% for about_us in about_us %}
    <a href="{% url 'pages:index' %}" class="logo-mobile">
        <img src="{{about_us.logo.url}}" alt="IMG-LOGO">
    </a>

    {% endfor %}
    <!-- Button show menu -->
    <div class="btn-show-menu">
        <!-- Header Icon mobile -->
        <div class="header-icons-mobile">

            {% include 'pages/fashe/partials/mobile_header_cart.html'%}
        </div>

        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </div>
    </div>
</div>
{% include 'pages/fashe/partials/mobile_menu.html'%}