<!-- Menu Mobile -->
<div class="wrap-side-menu">
    <nav class="side-menu">
        <ul class="main-menu">
            <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                <span style="color: maroon;" class="topbar-child1">
                    Free delivery in Zimbabwe for standard order over $50
                </span>
            </li>

            <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                <div class="topbar-child2-mobile">
                    <span class="topbar-email">
                        info@malinafrocouture.com
                    </span>


                </div>
            </li>

            <li class="item-topbar-mobile p-l-10">
                <div class="topbar-social-mobile">
                    <a href="#" class="topbar-social-item fa fa-facebook"></a>
                    <a href="#" class="topbar-social-item fa fa-instagram"></a>
                    <a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
                    <a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
                    <a href="#" class="topbar-social-item fa fa-youtube-play"></a>
                </div>
            </li>

            <li class="item-menu-mobile">
                <a href="{% url 'pages:index' %}">Just In</a>
                <i class="arrow-main-menu fa fa-angle-right" aria-hidden="true"></i>
            </li>

            <li class="item-menu-mobile">
                <a href="{% url 'pages:index' %}">Summer look</a>
            </li>

            <li class="item-menu-mobile">
                <a href="{% url 'pages:index' %}">Lovers show-off</a>
            </li>

            <li class="item-menu-mobile">
                <a href="{% url 'pages:index' %}">Ambitious Personalities</a>
            </li>

            <li class="item-menu-mobile">
                <a href="{% url 'pages:index' %}">Ambitious Kidz</a>
            </li>

            <li class="item-menu-mobile">
                <a href="{% url 'pages:index' %}">Fashion Blog</a>
            </li>
        </ul>
    </nav>
</div>