{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{% static 'js/chart.bundle.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JS Dashboard</title>
</head>
<body>
   <div style="width: 400px; margin-top: 20%;" id="chartjs1">

<canvas id="chart1" width="400px" height="400px"></canvas>
   </div>




   <script>
       var ctx = document.getElementById("chart1").getContext('2d');
       my_chart = new Chart(ctx, {
           type: 'bar',
           data: {
               labels: ['Grade A','Grade B', 'Grade C', 'Grade D', 'Grade E'],
               datasets: [{
                   label: 'Credit Grade vs Loan Volume',
                   data:[{{ webdata.0.grade_a.1 }}, {{ webdata.0.grade_b.1 }}, 
                        {{ webdata.0.grade_c.1 }}, {{ webdata.0.grade_d.1 }}, 
                        {{ webdata.0.grade_e.1 }}],

                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',

                        ],
                  borderColor: [
                  'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',


                  ],
                  borderWidth: 1

               }]
           },

           options: {
               scales: {
                    yAxis: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
               }
           }

       })

   
   </script>
</body>
</html>